.featured-item {
  cursor: pointer;
  position: relative;
  color: var(--mainWhite);
  overflow: hidden;
  height: 220px;
  border-radius: var(--smallBorderRadius);
  flex: 1;
}
.featured-image {
  width: 100%;
  object-fit: cover;
}
.featured-title {
  position: absolute;
  top: 9em;
  left: 1em;
}
.featured-title > h3 {
  font-size: 1.6em;
}
.featured-title > h4 {
  font-size: 1.3em;
}
