.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  background-color: var(--primaryDarkestColor);
}
.logo {
  font-size: 1.2em;
  font-weight: 800;
  color: var(--mainWhite);
  font-family: var(--fontTitle);
  margin-left: 0.8em;
}
.btn-nav {
  padding: 0.25rem 0.65rem;
  margin-left: 0.8em;
  font-size: 0.6em;
  background-color: var(--mainWhite);
  color: var(--primaryDarkColor);
}
.btn-nav:hover {
  background-color: var(--primaryLightColor);
  color: var(--mainWhite);
}
