/* 
====== 
Variables 
======
*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400&family=Ovo&family=Poppins:wght@600;700;800&display=swap');

:root {
  --primarySuperLightColor: #6e9e9e;
  --primaryLightColor: #3e7e7e;
  --primaryColor: #0e5e5e;
  --primaryDarkColor: #0d5555;
  --primaryDarkerColor: #0b4b4b;
  --primaryDarkestColor: #083838;
  --mainWhite: #fff;
  --mainWhiteOpc: rgba(255, 255, 255, 0.2);
  --offWhite: #f7f7f7;
  --mainBackground: #f0f0f0;
  --secondBackground: #f8f5f2;
  --mainOverlay: #b7cfcf74;
  --mainBlack: #010909;
  --mainGreyText: #6b6b6b;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #ff3562;
  --acidColor: #eaf8bf;
  --yellowColor: #eca400;
  --pinkColor: #f84aa7;
  --orangeColor: #f45d48;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1em;
  --lightShadow: 0px 3px 3px 0px rgba(187, 187, 187, 0.069);
  --darkShadow: 0px 6px 6px 0px rgba(59, 59, 59, 0.053);
  --smallBorderRadius: 0.15rem;
  --mediumBorderRadius: 0.5rem;
  --bigBorderRadius: 2.5rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --midWidth: 920px;
  --fullWidth: 1024px;
  --fontParagraph: 'Overpass', sans-serif;
  --fontSubtitle: 'Ovo', serif;
  --fontTitle: 'Poppins', sans-serif;
}

/* 
====== 
Html organic
======
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--secondBackground);
  font-family: var(--fontParagraph);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
li {
  list-style-type: none;
}
h1,
h2,
h3 {
  font-family: var(--fontTitle);
}
h4,
h5,
h6 {
  font-family: var(--fontSubtitle);
  font-weight: 600;
}

/* 
====== 
Btn & general
======
*/
.container {
  width: 100%;
  max-width: var(--fullWidth);
}
.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}
.btn {
  font-family: var(--fontTitle);
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  background: transparent;
  border: none;
  border-radius: var(--smallBorderRadius);
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-primary {
  color: var(--mainWhite);
  background-color: var(--primaryLightColor);
  padding: 1.15em 2em;
}
.btn-primary:hover {
  background-color: var(--primaryColor);
}
