.list-search {
  background-color: var(--yellowColor);
  border-radius: var(--mediumBorderRadius);
  padding: 2.1em;
}
.list-search > h1 {
  font-size: 2em;
  text-align: left;
  color: var(--mainBlack);
  padding: 0.8em 0;
}
.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.6em;
  margin-bottom: 0.8em;
}
.list-item > label {
  font-size: 1.1em;
  font-weight: bold;
}
.list-item > input {
  height: 3em;
  width: 20em;
  border: none;
  outline: none;
  padding: 0.3em 0.9em;
  font-size: 0.7em;
  background-color: var(--mainWhite);
  border-radius: var(--smallBorderRadius);
  cursor: pointer;
}
.list-item > span {
  height: 3em;
  background-color: var(--mainWhite);
  border: none;
  outline: none;
  padding: 0.3em 0.9em;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  border-radius: var(--smallBorderRadius);
  letter-spacing: var(--mainSpacing);
  cursor: pointer;
}
.list-option-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-option-input {
  height: 3em;
  background-color: var(--mainWhite);
  border: none;
  outline: none;
  padding: 1em;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: var(--smallBorderRadius);
  letter-spacing: var(--mainSpacing);
  cursor: pointer;
  width: 6em;
}
.list-option-input::placeholder {
  color: var(--mainGrey);
}
.list-option-text {
  margin-right: 6em;
  width: auto;
  font-size: 0.9em;
  font-weight: 700;
  color: var(--mainGreyText);
}
.list-search > button {
  width: 100%;
}
.data-range {
  z-index: 3;
}
.list-data-item {
  position: absolute;
  top: 23em;
  left: 5em;
  box-shadow: 0 1px 5px 0 rgb(35 57 66 / 21%);
  border-radius: 0 0 var(--mediumBorderRadius) var(--mediumBorderRadius);
  z-index: 2;
}
